.continerfondo{

    height: 1500px;
    width: 800px;
    margin-left: 200px;
   border: solid 3px rgb(0, 0, 0);


}

#nombre{
font-size: 70px;
margin-left: 60px;

}

.container2{
    background-color: white;
width:92% ;
height:96% ;
margin-left: 7px;

}








